body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100dwh;
  height: 100svh;
  gap: 40px;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100svh;
}

.library {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  padding-bottom: 5%;
  text-align: center;
}

h1 {
  width: 500px;
}

.get,
.getID,
.post,
.delete,
.put,
.details{
  height: 30px;
}

.wrapperMenu {
  width: 500px;
  height: max-content;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  pointer-events: all;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
}

.libWrapper {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.createWrapper {
  min-height: 100px;
}

input {
  margin-right: 20px;
  width: 300px;
}

.button {
  box-sizing: border-box;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  width: 500px;
  flex-wrap: wrap;
  height: max-content;
  display: flex;
  gap: 10px;
}

.wrapperBookCard {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 60%;
  min-height: 100svh;
  gap: 40px;
  flex-wrap: wrap;
}

.bookCard {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  width: 340px;
  height: 520px;
  border: 5px solid rgb(145, 18, 17);
  box-sizing: border-box;
  overflow: hidden;
  background-color: #f4e6bb;
}

.photoCard {
  position: relative;
  width: 100%;
  height: 100px;
}

.photo {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.nameCard {
  padding-top: 15px;
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  text-align: left;
  height: max-content;
  width: 100%;
  text-align: left;
  font-size: 20px;
  
}
.authorCard {
  padding-top: 1px;
  padding-bottom: 5px;
  text-align: left;
  width: 100%;
  height: max-content;
  font-size: 18px;
}
.descriptionCard {
  box-sizing: border-box;
  padding: 10px;
  text-align: left;
  width: 100%;
  height: 300px;
  overflow: auto;
  background-color: rgb(249, 229, 170);
  border: 5px solid white;
}

.description,
.author,
.name,
.id {
  margin-left: 10px;
}

.createDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 40px;
  border: 0.3px solid black;
  color: white;
  font-size: 15px;
  background-color: rgb(41, 41, 41);
}

.detailsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 40px;
  box-sizing: border-box;
  border: 0.3px solid black;
  color: white;
  font-size: 15px;
  background-color: rgb(41, 41, 41);
}

@media (width < 1700px) {
  .wrapperBookCard {
    width: 80%;
  }
}